aside.aside
    .search
        input#search-input.search__input(type="text" name="search" placeholder="Search")
        img(src="static/images/png/search.png" alt="search-icon")

    .run-timer
        .run-timer__statusbar
            .progress
                .progress-fill
                .progress-text.flex
                    .txt-left Run 00:00/01:00
                    .txt-right -60:00

        .run-timer__panel
            .run-timer__row.flex
                .run-timer__col.run Run
                .run-timer__col.on-off.flex
                    button.button.on ON
                    button.button.off OFF









