head
    meta(charset='UTF-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    link(rel='stylesheet', href="static/css/styles.css")
    //link(rel='xml-stylesheet', href="static/css/styles-svg.css")
