header.header
    //.b-sec__bg.b-sec__bg_darkgray
    .container-b
        .header__row.flex
            .header__col.header-aside
                a.logo-title(href="index.html") Lims

            .header__col.header-main
                .menu.flex
                    .header-main__left.flex
                        button.menu-burger(href="index.html")
                            span.ico

                        .mob-menu.closed
                            .mob-menu__wrap
                                .mob-menu__header
                                    a.mob-menu__title.logo-title(href="index.html") Lims
                                    button.button.button-close.hamburger-closer
                                        +icon("close")
                                .mob-menu__body
                                    ul#mob-menu.menu__list.mob-menu__list
                                        li.menu__item.mob-menu__item
                                            a.menu__link.mob-menu__link(href="index.html") Instruments
                                        li.menu__item.mob-menu__item
                                            a.menu__link.mob-menu__link.popup-open(href="index.html") Widgets
                                        li.menu__item.mob-menu__item
                                            a.menu__link.mob-menu__link.popup-open(href="index.html") View
                                        li.menu__item.mob-menu__item
                                            a.menu__link.mob-menu__link(href="index.html") Administration

                        ul#menu.menu__list.desk-menu__list
                            li.menu__item.desk-menu__item
                                a.menu__link.desk-menu__link(href="#") Instruments
                            li.menu__item.desk-menu__item
                                a.menu__link.desk-menu__link.popup-open(href="#") Widgets
                            li.menu__item.desk-menu__item
                                a.menu__link.desk-menu__link.popup-open(href="#") View
                            li.menu__item.desk-menu__item
                                a.menu__link.desk-menu__link(href="#") Administration
                    .header-main__right
                        button.button.user
                            img(src="static/images/png/profile.png" alt="profile")
                            span Alexander
                        button.button.language

                            span ENG
                            img(src="static/images/png/arrow-left.png" alt="arrow")
                        button.button.lock
                            img(src="static/images/png/unlock.png" alt="unlock")









