.window-aside {
    min-width: 150px;
    background-color: #f1f3f2;
    border-right: 1px solid #bfc2c4;
    font-family: "Helvetica Neue", sans-serif;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #bfc2c4;
        height: 35px;

        &.active {
            background-color: #fff;
        }
    }

    &__link {
        padding: 10px 15px;
        width: 100%;
    }
}

@media (max-width: 1562px) {
    .window-aside {
        min-width: inherit;
    }
}

