.window-footer
    .window-footer__row.flex-between
        .window-footer__col.flex
            .buttons-left.flex
                .button-item.button-new
                    button.button.button_round-white
                        img(src="static/images/png/plus.png" alt="plus")
                        span.descr New
                .button-item.button-open
                    button.button.button_round-white
                        img(src="static/images/png/open.png" alt="open")
                        span.descr Open
        .window-footer__col.flex
            .buttons-right
                button.button.button-ellipse.button_blue Save
                button.button.button-ellipse.button_blue Save as
                button.button.button-ellipse.button_blue-outline Cancel