.window-aside
    ul#window-aside.menu__list.window-aside__list
        li.menu__item.window-aside__item
            a.menu__link.window-aside__link(href="#")
                span ALS
        li.menu__item.window-aside__item
            a.menu__link.window-aside__link(href="#")
                span Inlets
        li.menu__item.window-aside__item.active
            a.menu__link.window-aside__link(href="#")
                span Columns