.window-header
    ul#window-header.menu__list.window-header__list
        li.menu__item.window-header__item
            a.menu__link.window-header__link(href="#")
                span.upper Worklist
                span.upper.bold.active RUN
                span TO DO: 23 injections
                span 02:15
        li.menu__item.window-header__item.active
            a.menu__link.window-header__link(href="#")
                span.upper.bold Method:
                span Method1.amx (00:00/04:30)
        li.menu__item.window-header__item
            a.menu__link.window-header__link(href="#")
                span.upper single run