extends base/pug/main

block variables
    - var title = "Lims"

block assets-panel
    include components/sections/assets-panel/assets-panel

block main-panel
    include components/sections/main-panel/main-panel